<section class="card">
    <mat-card>
        <mat-card-header>
            <mat-card-title>{{ this.maintenance.Title }}</mat-card-title>
            <mat-card-actions>
                <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                    <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item (click)="NavigateDetail()">
                        <mat-icon>list</mat-icon>
                        <span>計画詳細へ</span>
                    </button>
                    <button mat-menu-item (click)="NavigateRegistresult()">
                        <mat-icon>done</mat-icon>
                        <span>実績登録へ</span>
                    </button>
                </mat-menu>
            </mat-card-actions>
        </mat-card-header>
        <mat-card-subtitle>作業状況:{{ this.maintenance.WorkStatusName }}</mat-card-subtitle>
        <mat-card-subtitle>作業期間: {{ this.maintenance.Date | date:"yyyy/MM/dd" }}</mat-card-subtitle>
        <mat-card-subtitle>ロケーション: {{ this.maintenance.LocationName }}</mat-card-subtitle>
        <mat-card-subtitle>設備: {{ this.maintenance.FacilityName }}</mat-card-subtitle>
        <mat-card-subtitle>担当者名: {{ this.maintenance.UserName }}</mat-card-subtitle>
        <mat-card-subtitle>優先度: {{ this.maintenance.PriorityName }}</mat-card-subtitle>
        <mat-card-subtitle>メンテナンスID:{{ this.maintenance.id }}</mat-card-subtitle>
    </mat-card>
</section>