@media only screen and (min-width: 600px) and (max-width: 1024px) {
	/*tablet用のcssを記述*/
	.title-row {
		width: 100%;
		margin-bottom:16px;
	}
	.title-row__search {
		width: 100%;
	}
	.search__title {
		font-size: 16pt;
	}
	.search__description {
		display: none;
	}
	.grid-list {
		display: grid;
		grid-template-columns: repeat(1, 1fr);
	}
}

@media screen and (min-width: 1025px) {
	/*pc用のcssを記述*/
	.grid-list {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
	}
	.title-row {
		display: flex;
		justify-content: space-between;
		margin: 10px;
		&__search {
			width: 450px;
			max-width: 500px;
		}
	}
}
.article{
	margin: 16px;
}
