@media only screen and (max-width: 480px) {
	/*スマホ用のcssを記述*/
	.btn-fixed{
		position: fixed;
		top: 80px;
		right: 10px;
		z-index: 1;
	}	
}

@media only screen and (min-width:600px) and (max-width:1024px) {
	/*tablet用のcssを記述*/
	.grid{
		width: 100%;
	}
	.btn-fixed{
		position: fixed;
		top: 80px;
		right: 10px;
		z-index: 1;
	}	
    }
     
@media screen and (min-width:1025px) {
	/*pc用のcssを記述*/
	.grid{
		display: grid;
		grid-template-columns: 1fr 500px 1fr;
	}
	.grid-col{
		grid-column:2; 
	}
	.btn-fixed{
		position: fixed;
		right: calc(50% - 250px);
		z-index: 1;
	}
	.title{
		margin:16px;
		display: flex;
		justify-content: space-between;
	}
	
}

mat-checkbox{
	margin-bottom: 8px;
}

mat-form-field{
	width: 100%;
}

.section{
	margin-bottom: 20px;
	&__image{
		background-image: url("/assets/images/loading.gif");
		background-repeat: no-repeat;
		background-position:  center center;
	}
}

img{
	margin:10px;

}

mat-card-title{
	color:darkblue;
}
mat-card-header{
	margin-bottom: 16px;
	display: flex;
	justify-content: space-between;
}

.flex{
	display: flex;
	margin-top: 24px;
}
.flex .flex-left{
	margin-right: 8px;
}
.flex .flex-right{
	margin-right: 8px;
	width: 80px;
}
.hidden{
	display: none;
}