<div class="title-row">
    <h1 class="title-row__title">メンテナンス計画一覧</h1>
    <mat-expansion-panel class="title-row__search">
        <mat-expansion-panel-header>
            <mat-panel-title>
                メンテナンス計画表示条件
            </mat-panel-title>
            <mat-panel-description>
                条件を変更できます 
            </mat-panel-description>
        </mat-expansion-panel-header>
        <app-search-conditions
            [(searchConditions)]="this.searchConditions"
            (searchConditionsChange)="filterMaintenances()">
        </app-search-conditions>
    </mat-expansion-panel>
</div>

<h2 class="search-result">検索結果:{{ this.filteredMaintenances.length }}件</h2>

<article class="grid-list">
    <app-maintenance *ngFor="let maintenance of filteredMaintenances" [maintenance]="maintenance"></app-maintenance>
</article>