@media only screen and (min-width:600px) and (max-width:1024px) {
	/*tablet用のcssを記述*/
	.grid{
		// width: 100%;
		display: grid;
		grid-template-columns: 16px 1fr 16px;
	}
	.grid-col{
		grid-column:2; 
	}
    }
     
@media screen and (min-width:1025px) {
	/*pc用のcssを記述*/
	.grid{
		display: grid;
		grid-template-columns: 1fr 750px 1fr;
	}
	.grid-col{
		grid-column:2; 
	}
}

.grid{
	margin: 16px;
}

.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  max-width: 75px;
  align-items: center;
}